<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!-- To customize the asp.net core module uncomment and edit the following section. 
  For more info see https://go.microsoft.com/fwlink/?linkid=838655 -->
  <system.web>
    <!--The default size is 4096 kilobytes (4 MB). MaxValue is 2147483647 KB (2 TB)-->
    <!-- 100 MB in kilobytes -->
    <httpRuntime maxRequestLength="2147483647" />
  </system.web>
  <system.webServer>
    <handlers>
      <remove name="aspNetCore" />
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
    </handlers>
    <aspNetCore processPath="%LAUNCHER_PATH%" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="InProcess">
      <environmentVariables>
        <environmentVariable name="ASPNETCORE_HTTPS_PORT" value="44301" />
        <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Development" />
        <environmentVariable name="ASPNETCORE_HOSTINGSTARTUPASSEMBLIES" value="Microsoft.AspNetCore.Mvc.Razor.RuntimeCompilation;Microsoft.AspNetCore.Watch.BrowserRefresh;Microsoft.WebTools.BrowserLink.Net" />
        <environmentVariable name="DOTNET_STARTUP_HOOKS" value="C:\Program Files\dotnet\SDK\6.0.201\DotnetTools\dotnet-watch\6.0.201-servicing.22124.17\tools\net6.0\any\middleware\Microsoft.AspNetCore.Watch.BrowserRefresh.dll;C:\Program Files\Microsoft Visual Studio\2022\Community\Common7\IDE\Extensions\Microsoft\Web Tools\Browser Link\Microsoft.WebTools.BrowserLink.Net.dll" />
        <environmentVariable name="ASPNETCORE_AUTO_RELOAD_WS_ENDPOINT" value="wss://localhost:55558/HAT3p5/,ws://localhost:55559/HAT3p5/" />
        <environmentVariable name="ASPNETCORE_AUTO_RELOAD_WS_KEY" value="MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEA3oPpuL/JqTxh9ggH3+qYDAt/QddPI74PgFoKgHzEnhMaGZ6lJ+ICaZLcubzMC2e1HdYdGwp0dceJv8iMWEQ0I1yKdu+wZ1j04L5hvhQPopC+/WrGg0skAmLKVSokY5/NLpyl/tztTD5GrEg7iQ5u1ZjIyfuT/qUHoeKPeSUBtKJGWgeDClNxZeig/97r5ucYCymcx+7ZOPVihiVpTS4gQz4nAe4IeTrZoczMZsWIPCgn2hy7Ef9VGmFWpXIVETHkJlS7GfRAXFimSFjC4rMZZkWJI/T9W3rLzjt+QtWn/QpqosMFpKlbKWqVRSfYXa8INzxiizMT5u9ErGdjVJ8laQIDAQAB" />
        <environmentVariable name="ASPNETCORE_AUTO_RELOAD_VDIR" value="/" />
      </environmentVariables>
    </aspNetCore>
    <security>
      <requestFiltering>
        <!--The default size is 30000000 bytes (28.6 MB). MaxValue is 4294967295 bytes (4 GB)-->
        <requestLimits maxAllowedContentLength="4294967295" />
      </requestFiltering>
    </security>
  </system.webServer>
</configuration>