@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h5><a href="https://www.csmc.uni-hamburg.de/about/people/mohammed.html">@Model.Message</a></h5>

<address>
    <strong>Address:</strong> Room 4012, Warburgstr. 28, 20354 Hamburg <br />
    <strong>Telephone:</strong> +49 40 42838 - 9406 <br />
    <strong>Fax:</strong> +49 40 42838 - 4899
</address>

<address>
    <strong>Support:</strong> <a href="mailto:hussein.adnan.mohammed@uni-hamburg.de ">hussein.adnan.mohammed (at) uni-hamburg.de</a><br />
</address>