@page
@model HAT3p5.Pages.HowToModel
@{
    ViewData["Title"] = "How To Use The Handwriting Analysis Tool v3.5 (HAT3.5)";
}

<h3 style="text-align:center; font-style:italic">@ViewData["Title"]</h3>

<p>
    Each step (page) contains relevant instructions at the bottom of the page. Please read
    these instructions and use them as guidelines. Below is a general stepwise description of
    how to use HAT:
</p>

<ol>
    <li>
        Start the analysis by clicking "Start the Analysis" button in the first page.
    </li>
    <br />
    <li>
        Add at least ONE unlabelled (unknown) handwriting style to be analysed by this software tool.
        You can add handwriting styles by simply uploading their images and assigning a unique name
        to be used in the analysis results.
    </li>
    <br />
    <li>
        Add at least TWO labelled (known) handwriting styles to be analysed by this software tool.
        You can add handwriting styles by simply uploading their images and assigning a unique name
        to be used in the analysis results.
    </li>
    <br />
    <li>
        Check the selected handwriting styles and their corresponding files to make sure that everything is
        OK, then select the desired analysis parameters (or just use the defaults).
    </li>
    <br />
    <li>
        Click the "Analyse" button in order to start the handwriting style analysis. A green button will appear
        once the results are ready. Click this green "Results" button to go to the results page.
    </li>
    <br />
    <li>
        In the results page, you should find a table of results for each unlabelled handwriting style. You
        can download the results tables as spreadsheet files (".csv").
    </li>
    <br />
    <li>
        You can return back to the Analysis page and select different analysis parameters. This can be done simply
        by clicking the "Change Analysis Parameters" link.
    </li>
</ol>

<h3>Additional Remark:</h3>
<p>
    Remove irrelevant information from your handwriting images when possible before uploading them to the software. 
    This can be done simply by cropping the images and saving only the desired handwritings in a separated image to be used 
    in this software tool.
</p>