@page
@model IndexModel
@{
    ViewData["Title"] = "Handwriting Analysis Tool v3.5 (HAT3.5)";
}

<h3 style="text-align:center">  @ViewData["Title"]</h3>

<h1 style="text-align:center"><a asp-page="/Unlabelled/AddImgs_Unlabelled"> <button class="btn btn-primary">Start the Analysis </button> </a> </h1>

<hr />

<p style="text-align:center">
    This software tool has been developed by <a href="https://www.csmc.uni-hamburg.de/about/people/mohammed.html" target="_blank"> Dr. Hussein Mohammed</a>
    as a part of sub-project RFA05: <a href="https://www.csmc.uni-hamburg.de/written-artefacts/research/field-a/rfa05.html" target="_blank">
    Pattern Recognition in 2D Data from Digitised Images and Advanced Aquisition Techniques.</a>
</p>

<br />

<p>
    The main goal of this software tool is to analyse handwritten documents (or manuscripts) in order to measure the similarities
    between different handwriting styles. A similarity score will be produced for each of the different handwriting styles (scribes)
    so that the user can have a relative comparison between the similarities of handwriting styles with respect to specific 
    handwriting styles (possibly from unknown scribes).

    The analysis results can be useful for:
    <ul>
        <li>
            Providing quantitative similarity measurements as a supporting information.
        </li>
        <li>
            Providing additional support for the work-flow of scholars in manuscript research.
        </li>
        <li>
            Identifying certain scribes, handwriting styles and schools of writing.
        </li>
        <li>
            Dating manuscripts based on the gradual change in handwriting styles.
        </li>
    </ul>
</p>